---
- name: Pull philm/ansible_playbook image
  shell: docker pull philm/ansible_playbook

- name: create the demo environment
  shell: >
    docker run --rm -it \
    -v ~/.ssh/id_rsa:/root/.ssh/id_rsa \
    -v ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub \
    -v $(pwd):/ansible/playbooks \
    philm/ansible_playbook atVenu-demo-env-setup.yml -i environments/demo
